@import '@/styles/variables.module.scss';
@import '@/styles/globalClasses.module.scss';

.homeText__container {
  margin-left: 100px;
  position: absolute;
  top: 350px;
  width: 640px;
  p {
    font: $regualarTextType1;
  }
}
