//colors

$black: #000000;
$blackOverlay: #161616;
$white: #fafafa;
$brown: #ab7442;
$lightBrown: #d59f4e;
$halfWhite: #ccccccbf;

//fonts

$ladingPageDescriptionFont: normal normal 600 16px/18px Montserrat, serif;
$h1Font: normal normal 700 68px/68px Poppins, serif;

// font: italic small-caps bold 12px/30px Georgia, serif;

// font-style
// font-variant
// font-weight
// font-size/line-height
// font-family
