@import '../styles/variables.module.scss';

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Work Sans', sans-serif;
}
:root {
  color: $black;
  background: $white;
}

[data-theme='dark'] {
  color: $white;
  background: $black;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
