@import '@/styles/variables.module.scss';

.InfoAtom__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.InfoAtom__icon {
  margin: 0px 10px 0px 0px;
}

.InfoAtom__text {
  margin: 0px 10px 0px 0px;
}
